<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado liebre">
        <p>Lugar para poner barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>  <!-- tambien me funcionó poner la etiqueta a fuera de la etiqueta li -->
                <li><a href="">Tiendas Oficiales</a></li>  
                <li><a href="">Vender</a></li>  
                <li><a href="">Ayuda</a></li> <!--  -->
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6.770</p>
                <p>40% OFF</p>
                <strong>Cafetera Moulinex</strong>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                <p>$230.000</p>
                <p>20% OFF</p>
                <strong>MacBook Pro 2019</strong>
            </article>
            <article>
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10">
                <p>$70.500</p>
                <p>10% OFF</p>
                <strong>Samsung Galaxy S10</strong>
            </article>
            <article>
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <p>$6.770</p>
                <p>40% OFF</p>
                <strong>SmartTv Samsung 43"</strong>
            </article>
        </section>
        <section>
        <h3>Sección de Ofertas</h3>
        <article>
            <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% OFF</p>
            <strong>Cafetera Moulinex</strong>
        </article>
        <article>
            <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro">
            <p>$230.000</p>
            <p>20% OFF</p>
            <strong>MacBook Pro 2019</strong>
        </article>
        <article>
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung">
            <p>$70.500</p>
            <p>10% OFF</p>
            <strong>Samsung Galaxy S10</strong>
        </article>
        <article>
            <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV">
            <p>$23.200</p>
            <p>5% OFF</p>
            <strong>SmartTv Samsung 43"</strong>
        </article>
        </section>
    </main>
    <footer>
        <article>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro! </p>
        </article>
        <article>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer> <!-- no ponemos section porque ya footer seria una seccion. 
    aqui pondriamos section dentro de footer, por ejemplo cuando tenemos nnuestro footer
con varias secciones o incluso podemos usar article para poner elementos al lado de otro-->
</body>
</html>

<!-- un atajo  poner ul>li*3 y enter y genera todas las etiquetas necesarias
oa aricle pueden ser los productos
si queremos vender producto es bueno que sobresalga
debajo de detalles de productos del home, puedo poner etiquetas p
STRONG resalta la palabra y es mejor para los buscadores de nuestra pagina
la etiqueta B tambien pone en negrita la palabra pero solo la pone en negrita
no ayuda a los buscadores a encontrar nuestro sitio

span no puede usarse.. porque es un elemento de linea
-->